*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height:100%;
    background-image: url(https://frontendmentor-todo-app-react.vercel.app/static/media/bg-desktop-light.3508d620.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    background:white;
    min-height: 100px;
    border-radius: 10px;
}

#newTask input{
    width: 75%;
    height: 45px;
    font-family: 'poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}

#newTask input:focus{
    outline: none;
    border-color: #7a1be6;
}

#newTask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #841ae7;
    border: none;
    color:white;
    outline:none;


}