*,
*:before,
*:after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(https://frontendmentor-todo-app-react.vercel.app/static/media/bg-desktop-light.3508d620.jpg);
    background-repeat: no-repeat;
    width: auto;

}
.baslık{
    color: aliceblue;
    text-align: center;
    padding-top: 10%;
    margin-right: 50%;
}
.container{
    width:40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    margin-top:7%;
    left:50%;
    padding: 30px 40px;  
}

#newTask{
    position: relative;
    background-color: #ffffff;
    padding: 20px 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0, 0.3) ;

}

#newTask input{
    width: 70%;
    height: 45px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
   
    
}
#newTask input:focus{
    outline: none;
    border-color: #8052ec;
}

#newTask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #8052ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

#tasks{
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    
}

.task{
    background-color: #ffffff;
    height: 50px;
    padding: 5px 10px;
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}

.task span{
    
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.task button{
    background-color: #8052ec;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;

}

.completed{
    text-decoration: line-through;
}


.yükseklik{
    margin-top: 10px;
    height:100px;
}

.task-one-h{
    margin-top: 20%;
}

.colors{
    
        position: fixed;
        bottom: 0px;
        left:0px;
        width: 100%;
        height: 50px;
        padding:15px;
        color:#8052ec

}




