
*,
*:before,
*:after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.index-background{
    height: 100vh;
    background-image: url(https://frontendmentor-todo-app-react.vercel.app/static/media/bg-desktop-light.3508d620.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.baslık{
    color: aliceblue;
    text-align: center;
    padding-top: 10%;
    margin-right: 50%;
}
.container{
    width:40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    margin-top:7%;
    left:50%;
    padding: 30px 40px;  
}

#newTask{
    position: relative;
    background-color: #ffffff;
    padding: 20px 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0, 0.3) ;

}

#newTask input{
    width: 70%;
    height: 45px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
   
    
}
#newTask input:focus{
    outline: none;
    border-color: #8052ec;
}

#newTask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #8052ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

#tasks{
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    
}

.task{
    background-color: #ffffff;
    height: 50px;
    padding: 5px 10px;
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}

.task span{
    
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.task button{
    background-color: #8052ec;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;

}

.completed{
    text-decoration: line-through;
}


.yükseklik{
    margin-top: 10px;
    height:100px;
}

.task-one-h{
    margin-top: 20%;
}

.colors{
    
        position: fixed;
        bottom: 0px;
        left:0px;
        width: 100%;
        height: 50px;
        padding:15px;
        color:#8052ec

}




@media screen and (min-width: 320px) and (max-width: 460px) {
    body {
      width: 100%;
      height: 300px;
    }
    .baslık{
        padding-top: 30%;
    }
}

.popup-background{
    background-image: url(https://cdn.dribbble.com/users/357241/screenshots/…548912.png?compress=1&resize=800x600&vertical=top);

}

.popup{
    background: rgba(0,0,0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /*display: flex;*/
    /*popup un çıkmasını sağlıyor*/
    /*none olduğunda kapatıyor*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.popup-content{
    height: 250px;
    width: 500px;
    background:linear-gradient(115deg,#56d8e4 10%,#9f01ea 90%);
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.tebrikler-img{
    width: 10%;
    height: auto;
    margin-left: 45%;
    
}

.buttons {
    margin: 4%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(122, 30, 228, 0.75);
}


